head{
    background-color: white;
}

body {

    background-color:#1F2039;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banniere {
    padding: 100px;

    background-image: url('paysage4.jpg');
}

h1 {
    font-size: 3.5em;
    color: #ffffffc6;
    font-family: 'Montserrat', sans-serif;
}


em {
    color: #a5b4fc;
    font-style: normal;
  }

  
.ma-classe{
    color: rgb(255, 255, 255);
}
h2{
    color: rgb(255, 255, 255);
}

footer{
    background-color: white;

}
